{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Grupos</title>
    <link rel="stylesheet" href="{% static 'tela_principal/css/pesquisar.css' %}">
</head>
<body>
    <div class="container">
    <h1>Pesquisar Grupos</h1>
    <form method="GET">
        <input type="text" name="q" value="{{ query }}" placeholder="Digite nome ou assunto">
        <button type="submit">Buscar</button>
    </form>

    <ul>
    {% for grupo in grupos %}
        <li><a href="{% url 'grupo_detail' grupo.id %}">{{ grupo.nome }}</a></li>
    {% empty %}
        <li>Nenhum grupo encontrado.</li>
    {% endfor %}
    </ul>
</div>
</body>
</html>
